<header>
    <app-header></app-header>
</header>


<!-- landing section -->
<section class="landing mt-5 p-3">
    <div class="container-fulid">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-5 container-fluidme-5">
                <!-- image -->
                <img src="https://i.giphy.com/media/iG4zIb2xaxCBbZ3uei/giphy.webp" alt="fdsf">
                <!-- sliding image -->
                <!-- <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://www.goindigo.in/content/dam/indigov2/6e-website/header/campaigns/2019/07/SME_Desktop-Landingpage-mobile-banner.jpg"
                                class="d-block" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img17/AmazonPay/Diwali17/Friday3/ART_wave1_HDFC_750x375_1.jpg"
                                class="d-block" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="https://adn-static1.nykaa.com/media/wysiwyg/2022/hdfc-bank-offer-nov-2022.jpg"
                                class="d-block" alt="...">
                        </div>
                    </div>
                </div> -->
            </div>
            
            <div class="col-5">
                <h3 class="fw-bold">Welcome to <span class="text-warning">HDfC BANK</span></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et quisquam expedita accusamus quis ratione?
                    Mollitia nostrum possimus qui nam beatae. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Maiores nulla, sunt rerum facilis iste officia temporibus unde id suscipit natus quia laboriosam
                    accusantium eveniet impedit minima possimus odit assumenda. Reiciendis. Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Corporis, deleniti. Explicabo enim ex laudantium maxime unde nemo,
                    laboriosam ea, veniam, molestias corporis voluptates voluptatum cum blanditiis vel totam vero ipsum.
                </p>
                <div class="collapse" id="collapseExample">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo vel, pariatur praesentium
                    reprehenderit consequatur ipsa eius dolor ipsam adipisci animi, placeat eaque fugiat?Lorem ipsum
                    dolor sit amet consectetur adipisicing elit. Quidem quaerat culpa molestiae eligendi commodi,
                    placeat dolorum impedit harum praesentium ea soluta minus a doloribus, rem fugiat alias quam quis
                    asperiores. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa doloribus assumenda
                    tempore dolores aut, explicabo, animi rerum labore excepturi maxime facere temporibus culpa, ea
                    omnis non tenetur quia? Voluptas, sunt!
                </div>
                <!-- button -->
                <button (click)="toggle()" class="btn btn-primary" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Read <span *ngIf="isReadMore">More</span><span *ngIf="!(isReadMore)">Less</span>
                </button>
            </div>
            <div class="col-1"></div>
        </div>
    </div>

</section>






<footer>
    <app-footer></app-footer>
</footer>