@import url("node_modules/ngx-toastr/toastr.css");
* {
    font-family: 'Inspiration', cursive;
    font-family: 'Kablammo', cursive;
    font-family: 'Titillium Web', sans-serif;
}
/* body{
    background-color: rgb(55, 53, 53);
} */