<app-header></app-header>




<section class="login container-fluid mt-4 p-2 fw-bold">
    <div class="row ">
        <h2 class="mb-3 text-success fw-bold">Register now..</h2>

        <div class="col-6 login-form">

            <div class="mb-3">
                <!-- <h3 class="text-center">Reister</h3> -->
            </div>
            <form [formGroup]="registerForm" (ngSubmit)="register()">
                <div class="form-floating mb-2">
                    <input  name="userName" formControlName="userName" type="text" class="form-control"
                        id="floatingName" placeholder="username">
                    <label for="floatingName">Name</label>
                </div>

                <!-- error  -->
                <div *ngIf="registerForm.get('userName')?.touched && registerForm.get('userName')?.errors" class="my-1">
                    <p class="text-danger">*Invalid username</p>
                </div>

                <div class="form-floating  mb-2">
                    <input  name="acno" formControlName="acno" type="text" class="form-control" id="floatingAcNo"
                        placeholder="100xxx12xxx222">
                    <label for="floatingAcNo">Account Number</label>
                </div>
                  <!-- error  -->
                  <div *ngIf="registerForm.get('acno')?.touched && registerForm.get('acno')?.errors" class="my-1">
                    <p class="text-danger">*Invalid account number</p>
                </div>

                <div class="form-floating">
                    <input name="pswd" formControlName="pswd" type="password" class="form-control" id="floatingPassword"
                        placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>

                <!-- error  -->
                <div *ngIf="registerForm.get('pswd')?.touched && registerForm.get('pswd')?.errors" class="my-1">
                    <p class="text-danger">*Invalid password</p>
                </div>


                <div class="d-flex justify-content-center mt-2">
                    <button type="submit" class="btn btn-outline-info">Register</button>

                </div>


                <p class="m-2 text-center fw-bold">not new here? <a routerLink="/user/login"
                        class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Login.</a>
                </p>

            </form>

        </div>
        <div class="col-6">
            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis officia nulla numquam
                aliquid corporis ratione enim animi consectetur sunt debitis? Mollitia, voluptatem! Consequuntur magnam
                cum similique quia corrupti nihil in accusantium, vitae asperiores rem sunt earum voluptatibus soluta
                cumque explicabo, doloribus sint? Laudantium repellendus sed accusamus, asperiores omnis dignissimos
                iste explicabo harum alias quam et maxime. Quas natus magnam voluptatum ratione eligendi quod eius quos
                voluptate, mollitia voluptatem inventore obcaecati, rem harum debitis, optio magni eum cum in qui
                impedit minima porro suscipit. Doloremque quis ab iste vel consequatur corrupti atque amet, maxime
                maiores nemo aspernatur. Magni consectetur quos consequuntur. Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Soluta commodi nihil porro vel. Sint consectetur ex eveniet velit praesentium cumque
                iure aspernatur nemo consequatur in officiis harum, similique, saepe incidunt!</p>
        </div>
    </div>

</section>




<app-footer></app-footer>